{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imagen</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imagen.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ imagen.nombre }}</td>
            </tr>
            <tr>
                <th>Ruta</th>
                <td>{{ imagen.ruta }}</td>
            </tr>
            <tr>
                <th>Productoid</th>
                <td>{{ imagen.productoId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagen_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('imagen_edit', { 'id': imagen.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
